@import '../basic/colors';

.Footer {
  width: 100vw;
  height: 100%;
  background-color: $color-deep-blue;
  z-index: 12;
  color: white !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  
  a {
    color: $color-light-gray;

    &:hover {
      color: blue;
    }
  }

  h4 {
    overflow: hidden;
  }

  h1 {
    font-size: 2.5em;
    color: white !important;
  }

  // Social media icons container
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 20px; // Adjust this value as needed
  }

  // Image styling for responsiveness
  img {
    width: 100%;
    height: auto;
    max-width: 60px; // Adjust this value as needed
  }

  // Mobile styles (screen width less than 768px)
  @media (max-width: 767px) {
    font-size: 0.95em;
    flex-direction: column;

    .social-icons img {
      max-width: 50px; // Adjust this value for mobile
    }
  }

  // Tablet and desktop styles (screen width greater than or equal to 768px)
  @media (min-width: 768px) {
    font-size: 1em;
    flex-direction: row;

    > * {
      flex: 1;
      text-align: center;
    }
  }
}
